---
title: Every Single Street
author: Klaas Cuvelier
layout: layouts/running-post.njk
permalink: /running/every-single-street/
tags:
  - post
  - running
---

<div class="fixed top-12 right-10 rounded-full border-solid border-2 border-gray-100 py-2 pl-4 pr-2 bg-white dark:bg-[#131518]">
    Progress: {{ ess.progress }}%

    <a href="#progress" class="rounded-full border-solid border-2 border-gray-200 px-2 inline-block ml-2">⇣</a>
</div>

<h1>Every Single Street &middot; <em>Ghent</em></h1>

<h2>Intro</h2>
<p>After seeing Rickey Gates' <a href="https://www.everysinglestreet.com/" rel="noopener" target="_blank">Every Single Street</a> project, I decided I wanted to do the same for my home city of Ghent, Belgium.</p>

<p>Having primarily resided in Ghent since 2009 (with a brief period in San Francisco from 2016 to 2018), Ricky made me realized that I had yet to truly explore the breadth of my own city.<br>
    Motivated by his example, I decided to undertake the same challenge: to run each and every street of Ghent, immersing myself in a quest to create a deeper connection with the city I call home and discover unexplored neighbourhoods.</p>

<blockquote class="my-10">
    <p>To walk across a place is to truly know a place.</p>
    <small>Ricky Gates</small>
</blockquote>

<h2>Phase 1: <em>the inner city</em></h2>
<p>In January 2019 I started running routes through the streets of Ghent. My plan was to cover all streets inside an arbitrary boundary calling it <em>the inner city</em>. <br /> From the Bourgoyen along the R4 to the Liedermeerspark, continuing along the Schelde to Ledeberg, then following the R40 to Dok Noord and back to the Bourgoyen via the Bloemekenswijk.</p>

<p>However, due to the non-grid layout of Ghent's street plan, achieving complete coverage proved to be a challenging task. As a result, I typically created hand-drawn routes, covering a small part of the city, for each run shortly before embarking on.</p>

<p>I am not a professional or sponsored runner so my attempt was constrained by family, work and social life. All runs started either from the <a href="https://showpad.com">Showpad HQ</a> during lunch, or <a href="https://www.google.com/maps/search/gent+dok+noord/">Dok Noord</a> where I lived at the time. As a result, there were quite some streets I covered multiple times and the distance I had to run before starting to cover new streets increased. As I was not aiming to run the most efficient ESS I just rolled with it.</p>

<p>On September 14, 2019, I did <a href="https://www.strava.com/activities/2707125949" rel="noopener">a 35km run covering the outer boundaries of my arbitrary city limit and the inner ring road of Ghent</a>, successfully completing my attempt to run all streets of Ghent.</p>
<p>Spread out over 48 runs, I ran 632.3km.</p>

<a href="/public/images/ess/phase-1.jpg">
<img src="/public/images/ess/phase-1.jpg" alt="screenshot of the completed streets in the inner city" />
</a>

<h2>Phase 2: <em>the official boundaries</em></h2>

<p>A while after completing the streets of Ghent's inner city, somebody introduced me to <a href="https://citystrides.com">CityStrides</a>. A website that tracks your progress in running all the streets of a city.</p>

<p>After connecting my Strava account, I realized I was not the only person running the streets of Ghent and that I definitely did not run <em>all</em> the streets. Completing phase 1 put me around 35% of the total streets of Ghent.</p>

<p>I decided to continue running the streets of Ghent. I am currently still at it, around {{ ess.progress }}% completion.</p>

<p>To complete all streets, I decided to use all my historical data available on Strava. I also often take my bike to start my run in a different part of the city now.</p>


<h2 id="progress">Progress</h2>


<a href="{{ ess.cityStridesUrl }}" target="_blank">
    According to CityStrides I currently covered {{ ess.progress }}% of the streets of Ghent.
    <img class="py-5" src="{{ ess.screenshot }}" alt="screenshot of the covered streets according to CityStrides" />
</a>


<!--
## Planning

The street plan of Ghent is not a grid like San Francisco's. Covering every single street is not as straightforward as on a grid-based street plan.

Currently I am planning my routes using the [Strava]&#40;https://strava.com&#41; route builder in combination with the map above to see which streets I've covered. On the road I use [BikeGPX]&#40;https://bikegpx.com/&#41; for running the actual route.
-->
