
    <header class="site-header mb-5 w-screen">
        <div class="pl-2 py-2 flex flex-row justify-start items-center">
            <a class="text-l text-gray-700 visited:text-gray-700 mr-2" href="/">Klaas Cuvelier</a>
            {% if headerSuffix %}
                <span class="mr-2 text-gray-300">/</span>
               <span class="text-l text-gray-700 mr-2">{{ headerSuffix }}</span>
            {% endif %}
        </div>
    </header>
