{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.json", "**/*.yml", ".gitlab*"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        },
        {
            "files": ["*.njk"],
            "options": {
                "parser": "html"
            }
        }
    ]
}
