---
layout: layouts/empty.njk
---

<div class="landing-content">

  <section class="landing-intro">

    <div class="about-me">
      <span class="name">Klaas Cuvelier</span><br />
      <span class="title">Software Engineer, Trail Runner</span>
    </div>

    <p class="intro">
      Passionate about the web, data, and trails.
    </p>

    <p>
      A software developer from Ghent &#x1F1E7;&#x1F1EA,
      living in San Francisco &#x1F1FA;&#x1F1F8;.<br />
    </p>

  </section>

  <section class="landing-blog">
    <h3>My most recent writings</h3>

    <ul>    
      {% for post in collections.posts | head(-3) | reverse %}
      <li>

          <a class="post-link" href="{{ post.url | url }}">{{ post.data.title }}</a>
          <span class="post-meta">{{ post.date | readableDate }}</span>
      </li>
      {% endfor %}
    </ul>

    <a href="{{ 'blog' | url }}">See more&hellip;</a>
  </section>

</div>
