<!DOCTYPE html>
<html class="">
    {% include 'head.njk' %}

    <body class="min-h-100 text-[#111] bg-[#fff4e6] dark:bg-[#1f1f16] dark:text-[#e9e9e9]">
        <button id="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode" class="fixed top-2 right-2">🌓</button>
        {{ content | safe }}
    </body>
</html>
