<!DOCTYPE html>
<html class="">
    {% include 'head.njk' %}

    <body class="min-h-100 text-[#1a1a1a] bg-[#F8F9FA] dark:bg-[#131518] dark:text-[#e8e8e8]">
        <button id="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode" class="fixed top-2 right-2">🌓</button>
        {{ content | safe }}
    </body>
</html>
