@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
}

/* fix for safari 100vh issue */
.h-screen {
    height: 100vh;
    height: -webkit-fill-available;
}

body {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: 15.75px;
}

ul,
ol {
    margin-left: 30px;
    list-style-type: disc;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote > :last-child {
    margin-bottom: 0;
}

pre,
code {
    font-size: 15px;
    background-color: transparent;
}

.highlight {
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon > svg path {
    fill: #828282;
}

.page-content {
    padding: 30px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list > li {
    margin-bottom: 30px;
}

.post-meta {
    font-size: 15.75px;
    color: #828282;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-note {
    color: #828282;
    font-style: italic;
    font-size: 75%;
}

.post-footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #828282;
}

.post-header {
    margin-bottom: 75px;
    margin-top: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: 30px;
}

.post-content h1 {
    font-size: 32px;
}

.post-content h2 {
    font-size: 28px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 20px;
}

.highlight {
    background-color: #002b36;
    color: #93a1a1;
}

.highlight .c {
    color: #586e75;
}

.highlight .err {
    color: #93a1a1;
}

.highlight .g {
    color: #93a1a1;
}

.highlight .k {
    color: #859900;
}

.highlight .l {
    color: #93a1a1;
}

.highlight .n {
    color: #93a1a1;
}

.highlight .o {
    color: #859900;
}

.highlight .x {
    color: #cb4b16;
}

.highlight .p {
    color: #93a1a1;
}

.highlight .cm {
    color: #586e75;
}

.highlight .cp {
    color: #859900;
}

.highlight .c1 {
    color: #586e75;
}

.highlight .cs {
    color: #859900;
}

.highlight .gd {
    color: #2aa198;
}

.highlight .ge {
    color: #93a1a1;
    font-style: italic;
}

.highlight .gr {
    color: #dc322f;
}

.highlight .gh {
    color: #cb4b16;
}

.highlight .gi {
    color: #859900;
}

.highlight .go {
    color: #93a1a1;
}

.highlight .gp {
    color: #93a1a1;
}

.highlight .gs {
    color: #93a1a1;
    font-weight: bold;
}

.highlight .gu {
    color: #cb4b16;
}

.highlight .gt {
    color: #93a1a1;
}

.highlight .kc {
    color: #cb4b16;
}

.highlight .kd {
    color: #268bd2;
}

.highlight .kn {
    color: #859900;
}

.highlight .kp {
    color: #859900;
}

.highlight .kr {
    color: #268bd2;
}

.highlight .kt {
    color: #dc322f;
}

.highlight .ld {
    color: #93a1a1;
}

.highlight .m {
    color: #2aa198;
}

.highlight .s {
    color: #2aa198;
}

.highlight .na {
    color: #93a1a1;
}

.highlight .nb {
    color: #b58900;
}

.highlight .nc {
    color: #268bd2;
}

.highlight .no {
    color: #cb4b16;
}

.highlight .nd {
    color: #268bd2;
}

.highlight .ni {
    color: #cb4b16;
}

.highlight .ne {
    color: #cb4b16;
}

.highlight .nf {
    color: #268bd2;
}

.highlight .nl {
    color: #93a1a1;
}

.highlight .nn {
    color: #93a1a1;
}

.highlight .nx {
    color: #93a1a1;
}

.highlight .py {
    color: #93a1a1;
}

.highlight .nt {
    color: #268bd2;
}

.highlight .nv {
    color: #268bd2;
}

.highlight .ow {
    color: #859900;
}

.highlight .w {
    color: #93a1a1;
}

.highlight .mf {
    color: #2aa198;
}

.highlight .mh {
    color: #2aa198;
}

.highlight .mi {
    color: #2aa198;
}

.highlight .mo {
    color: #2aa198;
}

.highlight .sb {
    color: #586e75;
}

.highlight .sc {
    color: #2aa198;
}

.highlight .sd {
    color: #93a1a1;
}

.highlight .s2 {
    color: #2aa198;
}

.highlight .se {
    color: #cb4b16;
}

.highlight .sh {
    color: #93a1a1;
}

.highlight .si {
    color: #2aa198;
}

.highlight .sx {
    color: #2aa198;
}

.highlight .sr {
    color: #dc322f;
}

.highlight .s1 {
    color: #2aa198;
}

.highlight .ss {
    color: #2aa198;
}

.highlight .bp {
    color: #268bd2;
}

.highlight .vc {
    color: #268bd2;
}

.highlight .vg {
    color: #268bd2;
}

.highlight .vi {
    color: #268bd2;
}

.highlight .il {
    color: #2aa198;
}

.image-center {
    display: block;
    max-width: 90%;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.175);
}

h1 {
    margin: 36px 0;
    font-size: 36px;
    font-weight: inherit;
}

h2 {
    margin: 28px 0;
    font-size: 30px;
    font-weight: inherit;
}

h3 {
    margin: 18px 0;
    font-size: 24px;
    font-weight: inherit;
}
