---
layout: layouts/default
permalink: /running/
---


<div class="h-screen px-4">
    <h1>Klaas Runs</h1>

    <ul>
        <li>
            <a href="./every-single-street">Running every single street of Ghent</a>
        </li>
    </ul>
</div>

