---
layout: layouts/default.njk
---

<h1>About me</h1>

<p>I am Klaas Cuvelier, a passionate web developer with over a decade of experience.</p>

<p>In 2009, I started my career at <a href="https://en.wikipedia.org/wiki/Netlog" rel="noopener">Netlog</a> as a front-end developer on their frontend team. During my internship, I successfully replaced their chat system with my fellow intern, which garnered recognition and led to us winning a prestigious Belgian IT award for the accomplishment.</p>

<p>In 2012, I joined <a href="https://showpad.com" rel="noopener">Showpad</a> as their first full-time software engineer helping with building their web applications.
    Gradually I took on additional responsibilities such as participating in the hiring process, mentoring new team members, and shaping the company's technical roadmap.</p>

<p>Furthermore, I have provided consulting services to multiple companies, assisting them with their products and technologies.</p>

<p>Throughout my journey, I have gained valuable insights by working together with talented people and meeting conference attendees, which inspired me to contribute back to the community.
    I have organized meetups, such as the SoCraTes meetup, and co-hosted the GhentJS meetup. I also lead the Frontend Guild at Showpad. Additionally, although not consistently, I have shared some <a href="/blog">blog posts on this site</a>.</p>

<p>In addition to my passion for web development and technology, I also enjoy spending time outdoors, particularly through running and hiking. I have documented some of my experiences on <a href="/running">my running page</a>.</p>

<h2 id="links">Links</h2>
<ul class="mx-0 mb-20 -mt-5">{% if socials.socials %}
    {% for social in socials.socials %}
        <li class="mb-1">
            <a href="{{ social.url }}" target="_blank" rel="noopener">{{ social.label }}</a>
        </li> 
    {% endfor %}
{% endif %}
</ul>