---
layout: layouts/default.njk
---

<h1>About me</h1>

<p>I am Klaas Cuvelier.</P>

<p>After my internship, I started as front-end developer at <a href="https://en.wikipedia.org/wiki/Netlog" rel="noopener">Netlog</a> in 2009.</p>

<p>In 2012, I joined <a href="https://showpad.com" rel="noopener">Showpad</a> as one of the founding engineers. I am currently a principal software engineer in the Developer Platform Team at Showpad.</p>

<p>In addition to my passion for software development and technology, I also enjoy spending time outdoors, particularly through running and hiking. I have documented some of my experiences on <a href="/running">my running page</a>.</p>

<h2 id="links" class="text-2lg">Links</h2>
<ul class="mx-0 mb-20 -mt-5 list-none">{% if socials.socials %}
    {% for social in socials.socials %}
        <li class="mb-1">
            <a href="{{ social.url }}" target="_blank" rel="noopener">{{ social.label }}</a>
        </li>
    {% endfor %}
{% endif %}
</ul>
