---
layout: layouts/default.njk
headerSuffix: writing
---

<section>
    <h1>Writing</h1>
    <p>
        I'm very bad at writing and sharing consistently. But from time to time I do write down some words, things that
        I find worth sharing, mostly tech related.
    </p>
    <p>
        There is no commenting system on this blog, but I'm always happy to hear your thoughts. Feel free to reach out
        to me on any of <a href="/about#links">the social platforms I am on</a>.
    </p>
</section>

<section class="mt-16">
    <ul class="post-list space-y-6">
        {% for post in collections.tech | reverse %}
        <li class="py-2">
            <span class="block text-sm text-gray-400 dark:text-gray-500 mb-1">{{ post.date | readableDate }}</span>
            <h2 class="my-0 text-lg">
                <a class="text-gray-800 dark:text-gray-100 visited:text-gray-800 dark:visited:text-gray-100 hover:text-[var(--link-color)]" href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</section>

<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | url }}">via RSS</a></p>
