---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Klaas C.",
    "subtitle": "Klaas Cuvelier. Software engineer and runner. I love solving problems and building things.</subtitle>",
    "url": "https://klaascuvelier.io/",
    "feedUrl": "https://klaascuvelier.io/feed.xml",
    "author": {
      "name": "Klaas Cuvelier",
      "email": "cuvelierklaas@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
<updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc822   }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {% for post in collections.post | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc822  }}</updated>
    <id>{{ absolutePostUrl }}</id>
  </entry>
  {%- endfor %}
</feed>
