---
layout: layouts/empty.njk
---

<main class="sm:container sm:mx-auto py-10 pb-5 px-4 text-l">
    <section class="mt-10 leading-relaxed">
        <p class="mt-4">
            <span class="leading-loose text-xl">Hi, I am Klaas Cuvelier.</span>
        </p>
        <p class="mt-4">
            I'm a software engineer and a runner.<br/>
            I love solving problems and building things.
        </p>
        <p class="mt-6">
            Occasionally, not consistently, I write about things and share them on this website.
        </p>
    </section>

    <section class="mt-10 leading-relaxed">
        <ul class="mx-0 mb-20 list-none">
            <li class="mb-1"><a href="/about">More about me</a></li>
            <li class="mb-1"><a href="/blog">Writing stuff</a></li>
            <li><a href="/running">Running things</a></li>
        </ul>
    </section>
</main>


{% if homepage.showRecents %}
    <section class="landing-blog">
        <h3>My most recent writings</h3>
        <ul>
            {% for post in collections.posts | head(-3) | reverse %}
                <li>
                    <a class="post-link" href="{{ post.url | url }}">{{ post.data.title }}</a>
                    <span class="post-meta">{{ post.date | readableDate }}</span>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ 'blog' | url }}">See more&hellip;</a>
    </section>
{% endif %}
